@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  ::selection {
    color: var(--color-amber-500);
    background-color: var(--color-amber-100);
  }
}

@layer components {
  .topography-bg {
    position: relative;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-image: linear-gradient(
        to bottom right,
        var(--color-amber-500),
        var(--color-fuchsia-900)
      );
      mask-image: url("/topography.svg");
    }
  }

  .text-base {
    @apply text-slate-950 dark:text-slate-50;
  }

  .text-primary {
    @apply text-rose-900 dark:text-rose-400;
  }

  .text-secondary {
    @apply text-amber-600 dark:text-amber-400;
  }

  .text-subdued {
    @apply text-slate-600 dark:text-slate-400;
  }

  .link {
    @apply hover:underline hover:text-rose-900 hover:dark:text-rose-400 transition duration-200;
  }

  .button {
    @apply text-amber-600 dark:text-amber-400 transition duration-200;
  }
}

@layer utilities {
  .shadow-lg-above {
    box-shadow:
      0 -10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
      0 -4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  }
}
