---
import type { Skill } from "src/types/skill";
import { SkillStatus } from "src/types/skill-status";

interface Props {
  skill: Skill;
}

const { skill } = Astro.props;
---

<div
  class="bg-slate-100 dark:bg-slate-700 shadow-sm px-3 py-1 rounded-lg flex items-center gap-2 text-sm"
  class:list={[
    {
      "opacity-40": skill.status === SkillStatus.Interested,
      "text-subdued border border-dashed border-slate-500":
        skill.status === SkillStatus.Learning,
    },
  ]}
>
  {skill.name}
  {skill.status === SkillStatus.Interested && <span>&#128173;</span>}
  {skill.status === SkillStatus.Learning && <span>&#9881;&#65039;</span>}
</div>
