---
import ProfileCard from "@components/ProfileCard.astro";
import SkillSection from "@components/skills/SkillSection.astro";
import ProjectSection from "@components/projects/ProjectSection.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1 class="sr-only" id="about">About</h1>
  <div class="flex items-center justify-center topography-bg py-16 px-4">
    <ProfileCard />
  </div>
  <div
    class="flex flex-col items-center shadow-lg-above grow bg-linear-to-b from-slate-50 to-slate-200 dark:from-slate-800 dark:to-slate-900 pb-4"
  >
    <div class="w-8/12">
      <SkillSection />
      <ProjectSection />
    </div>
  </div>
</Layout>
