---
import GitHubIcon from "./ui/GitHubIcon.astro";

interface UserData {
  login: string;
  avatar_url: string;
  html_url: string;
}

const getUserData = async (): Promise<UserData> => {
  if (import.meta.env.DEV) {
    const data: UserData = {
      login: "Pithaya",
      avatar_url: "https://avatars.githubusercontent.com/u/19533412?v=4",
      html_url: "https://github.com/pithaya",
    };
    return data;
  } else {
    const response = await fetch("https://api.github.com/users/pithaya");
    return await response.json();
  }
};

const data = await getUserData();
---

<div class="flex items-center p-4 gap-4 rounded-lg shadow-md backdrop-blur-xs">
  <img src={data.avatar_url} alt={data.login} class="rounded-full size-30" />
  <div>
    <h2 class="text-xl font-semibold">
      {data.login}
    </h2>
    <span class="text-gray-800 dark:text-gray-200">Fullstack developer</span>
    <a
      href={data.html_url}
      target="_blank"
      rel="noopener noreferrer"
      class="text-rose-900 dark:text-rose-400 link flex flex-row items-center gap-1 mt-4"
    >
      <GitHubIcon size={14} />
      <span>Profile</span>
    </a>
  </div>
</div>
