---
import { Sun, Moon } from "@lucide/astro";
---

<button
  id="themeToggle"
  type="button"
  class="cursor-pointer"
  aria-label="Toggle theme"
>
  <Sun id="sun-icon" stroke-width="1" class="hidden" />
  <Moon id="moon-icon" stroke-width="1" class="hidden" />
</button>

<script>
  type Theme = "dark" | "light";

  const changeButtonIcon = (theme: Theme) => {
    const sunIcon = document.getElementById("sun-icon");
    const moonIcon = document.getElementById("moon-icon");

    if (theme === "dark") {
      sunIcon?.classList.add("hidden");
      moonIcon?.classList.remove("hidden");
    } else {
      sunIcon?.classList.remove("hidden");
      moonIcon?.classList.add("hidden");
    }
  };

  const getTheme: () => Theme = () => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (localStorageTheme === "dark" || localStorageTheme === "light") {
      return localStorageTheme;
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  };

  const theme: Theme = getTheme();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  changeButtonIcon(theme);
  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const newTheme = element.classList.contains("dark") ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    changeButtonIcon(newTheme);
  };

  document
    .getElementById("themeToggle")
    ?.addEventListener("click", handleToggleClick);
</script>
